*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

nav{
    height: 4rem;
    position: sticky;
    top: 0;
    background: #ffff;
    display: flex;
    align-items: center;
    padding: 10px 80px 10px 100px;
    justify-content: space-between;
    box-shadow: 2px 4px 6px 1px #aaa;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 7px;
}
nav ul li a {
    color: #170263;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 8px 10px;
    transition: .5s ease-in-out;
    text-transform: uppercase;
}
nav ul li:hover{
    transform: scale(1.1);
    transition: .5s;
}
nav ul li a:hover,#active{
    color: #ff7200;
}
#click{
    display: none;
}
.fa-bars{
    color: #170263;;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}

/* contain body */
.content-body
{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Images/bg-imag.jpg);
    background-position: 10% 30%;
    background-size: cover;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.bg-image
{
    text-align: center;
    height: auto;
    line-height: 3rem;
    color: #fff
}
.bg-image h1 
{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.bg-image h1 span
{
    color: orange;
    font-size: 3rem;
    text-shadow: 2px 1px 4px rgb(80, 80, 80);
}

.bg-image .discription{
    font-size: 1.4rem;
}
.btn{
    padding: 0.6rem 2rem;
    background: #1e1e1e;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: .2rem;
    transition: .5s;
}
.btn:hover{
    transform: scale(1.1);
    background: #474747;
}
.view-cv {
    margin-top: 1rem;
    box-shadow: 1px 2px 8px 1px #fff;
}
.btn a {
    color: #fff
}


/* footer */
.footer {
    padding: 1rem 0;
    text-align: center;
    background: #aaa;
}
/* responsive */
@media(max-width: 1024px){
    nav{
        padding: 0 30px;
    }
    .logo img{
        width: 3rem;
        height: 3rem
    }
    nav ul li{
        margin: 0 2px;
    }
    nav ul li a{
        font-size: 1rem;
        padding: 8px;
    }
    .bg-image{
        width: 80%;
    }
    .bg-image h1 {
        font-size: 1.6rem;
    }
    .bg-image h1 span
    {
        font-size: 2.4rem;
    }
    .bg-image .discription{
        font-size: 1.2rem;
    }
    .btn{
        padding: 0.6rem 1rem;
        font-size: 1rem;
    }
    .footer{
        font-size: .9rem;
    }
}

@media(max-width: 580px){
    nav{
        padding: 0 20px;
    }
    .logo img{
        width: 2.4rem;
        height: 2.4rem
    }
    nav ul{
        position: fixed;
        left: -100%; 
        top: 64px;
        width: 100%;
        display: block;
        height: auto;
        background: #010155e3;
        text-align: left;
        transition: all 1s ease;
        padding: 0;
    }
    nav ul li{
        margin: 0.8rem 2rem;
    }
    nav ul li:hover{
        transform: none;
    }
    nav ul li a{
        display: block;
        padding: 8px 0px;
        color: #ffff;
        font-size: .8rem;
    }
    .fa-bars{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .menu-bars i::before{
        content: "\f00d";
    }
    .bg-image{
        line-height: 2rem;
    }
    .bg-image h1 {
        font-size: 1.2rem;
    }
    .bg-image h1 span
    {
        font-size: 2rem;
    }
    .bg-image .discription{
        font-size: 1rem;
    }
    .btn{
        font-size: .8rem;
    }
    .footer {
        font-size: .8rem;
        padding: .8rem 0;
    }
}
